

.cards-1{
    border-radius: 10px;
    background-color: azure;
    margin: 0 0 0 20px;
}

.cards-2{
    border-radius: 10px;
    background-color: azure;
    margin: 0 0px 0px 20px;
}

.card{
    background-color: #18181B;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}

.cards-1:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

  .cards-2:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

