body {
    background-color: #222226;
}

::-webkit-scrollbar {
    opacity: 0%;
}
.img_nav{
    width: 30px;
    height: 30px;
}

.img_logo{
    width: 425px;
    height: 157px;
}
/* like/deslike */

