*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: rgb(126, 11, 91);
    padding: 20px;
}

header > h2{
    color: #fff;
}

.container{
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 60%;
}

.container > img{
    width: 100%;
}

footer{
    display: flex;
    background-color: rgb(126, 11, 91);
    color: #fff;
    padding: 16px;
    margin-top: 60%;
}

.a-edit{
    color: forestgreen;
}

.a-delete{
    color: crimson;
}

.a-edit:hover{
    font-weight: bold;
    color: darkgreen;
}

.a-delete:hover{
    font-weight: bold;
    color: darkred;
}

.a-add{
    color: #fff;
    text-decoration: none;
}

.a-add:hover{
    color: cornsilk;
    font-weight: bold;
}

@media screen and (max-width:650px){
    footer{
        display: block;
        
    }

    .container{
        width: 100%;
    }
}

.p-comprar{
    cursor: pointer;
}

.h3-contato{
    margin-right: 12px;
}