body {
    background-color: #222226;
    
}

::-webkit-scrollbar {
    display: none;
}
.img_nav{
    width: 30px;
    height: 30px;
}

.img_logo{
    margin-left: 3%;
    width: 225px;
    height: 75px;
}

.navbar-nav{
margin-left: 70%;
}

.dropdown-toggle::after{
    display: table-row;
}

